#data_NSA
/classes/nsaSrc/data/external/wiki-news-300d-1M.magnitude
/sageBrain/sessData/globalSess/*
/sageBrain/sessData/sess0/*
/sageBrain/sessData/sess1/*
/sageBrain/sessData/sess2/*
/sageBrain/sessData/sess3/*
/sageBrain/sessData/*
